{% extends 'MmiBootstrapBundle::layout.html.twig' %}

{% set memo = app.session.get('memo') %}

{% block main_style %}
	    {% stylesheets '@MmiBlogBundle/Resources/public/css/main.css' %}
	         <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	    {% endstylesheets %}
{% endblock main_style %}
         
{% block title %}Blog MMI{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ url('blog_homepage') }}" class="navbar-brand">
                Blog MMI
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url('blog_homepage') }}">Accueil</a></li>
            <li><a href="{{ url('blog_page') }}">Page 1</a></li>
            <li><a href="{{ url('blog_memo') }}">Memo</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Choix thème <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('blog_theme',{'name': 'yeti'}) }}">Yeti</a></li>
            <li class="divider"></li>
            <li><a href="{{ url('blog_theme', {name:'default', target:'blog_homepage'}) }}">Défaut</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
{% endblock %} 
         
{% block content_sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">Flux RSS</div>
    <div class="panel-body">
        {% block sidebar_rss %}{% endblock %}
    </div>
</div>
{% endblock %}

